<!-- Add Board Component -->
<h1 class="headerTitle">Trello App</h1>
<!-- Board Selection View -->
<div *ngIf="!selectedBoard" class="board-container">
  <h2>Select a Board</h2>
  <app-add-board (boardAdded)="loadBoards()"></app-add-board>

  <button
    *ngFor="let board of boards"
    class="board-button"
    (click)="fetchListsForBoard(board.id)"
  >
    {{ board.name }}
  </button>
</div>

<!-- Lists and Cards View -->
<div *ngIf="selectedBoard" >
  <h2 class="titleBoard">{{ selectedBoard.name }}</h2>
  <button (click)="navigateBack()">Back to Boards</button>

</div>
<div class="lists-container">
  <!-- Add List Component -->
<app-add-list
[selectedBoard]="selectedBoard"
(listAdded)="fetchListsForBoard(selectedBoard.id)"
></app-add-list>


  <div *ngFor="let list of lists" class="list">
    <h3>{{ list.name }}</h3>

<app-add-card 
[selectedList]="list" 
(cardAdded)="fetchListsForBoard(selectedBoard.id)"
></app-add-card>

    <div *ngIf="cards[list.id]">
      <div *ngFor="let card of cards[list.id]" class="card">
       <h3><p>{{ card.title }}</p></h3>
        <p>{{ card.content }}</p>
        <p>{{ card.id }}</p>
        <button class="delete-button" (click)="removeCard(card.id)">-</button>
      </div>
    </div>
  </div>
</div>
